{% load static %}

<! DOCTYPE html>
<html>
<head>
  <title>e-Problems</title>
  <link rel="stylesheet" type="text/css" href="star-rating-svg.css">

  <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/make_problem.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/edit_problem.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/mini_test.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/test_result.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/calculation_list.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'app/css/contact.css' %}">
</head>

<body>
  <header>
    <div class="header-left">
      <h3><a class="title" href="{% url 'app:index' %}">e-Problems </h1>
    </div>
    <div class="header-menu">
        {% if request.user.is_authenticated %}
            <a href="{% url 'app:my_page' pk=request.user.pk %}">マイページへ</a>
            <a href="{% url 'app:logout' %}">ログアウト</a>
        {% else %}
            <a href="{% url 'app:signup' %}">新規作成</a>
            <a href="{% url 'app:login' %}">ログイン</a>
            <a href="{% url 'app:guest_login' %}">簡単ログイン</a>
        {% endif %}
    </div>
  </header>

      {% block content %}
      {% endblock %}


</body>