{% extends 'app/base.html' %}
{% block content %}
{% load static  %}

<h2>{{ request.user.username }}さんの作成した問題</h2>

{% for problem in problems %}
  <fieldset>
    <p>{{ problem.content }}</p>
    {% for choice in problem.choice_set.all %}
      {% if problem.correct_choice == forloop.counter %}
          <p class='correct'>{{ forloop.counter }}、{{ choice.content }}</p>
      {% else %}
          <p>{{ forloop.counter }}、{{ choice.content }}</p>
      {% endif %}
    {% endfor %}
    <h2 class='correct'>正解：{{ problem.correct_choice }}</h2>
    <p>{{ problem.like.count }}いいね</p>
    <form action="{% url 'app:edit_problem' pk=problem.pk %}">
        <button>編集する</button>
    </form>
    <form method='post' action="{% url 'app:delete_problem' pk=problem.pk %}" id='remove-button'>{% csrf_token %}
        <button>削除する</button>
    </form>
  </fieldset>

{% endfor %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'app/js/my_problem.js' %}"></script>


{% endblock  %}

