{% extends 'app/base.html' %}
{% load static %}

{% block content %}

    <p id='problem_count' class='hidden' data-problem_count='{{ problems|length }}'></p>
    {% if problems|length == 0 %}
        <h3>作成された問題がありません</h3>
    {% else %}
        {% for problem in problems %}
        <fieldset>
            <p>{{ problem.content }}</p>
            <input type='text' class='hidden' name='problemID-{{ forloop.counter }}' value={{ problem.id }} form='choice'>
            {% for choice in problem.choice_set.all %}
                <label><input type='radio' name='choice-{{ forloop.parentloop.counter }}' value="{{ forloop.counter }}" form='choice'>{{ forloop.counter }}、{{ choice.content }}</label>
                <br />
            {% endfor %}
                <form class='like_button' class="like_button" data-id={{ problem.pk }} data-value="good" action="{% url 'app:like' pk=problem.pk %}" method='post'>{% csrf_token %}
                    <button id="button_{{ problem.pk }}">いいね</button>
                </form>
                <p class='like_count' id="likeCount_{{ problem.pk }}">{{ problem.like.count }}いいね</p><p class='author'>問題作成者：{{ problem.user.username }}</p>

        </fieldset>
        {% endfor %}
    {% endif %}


<form id='choice' action="{% url 'app:test_result' problem_count=problems|length %}" method='post'>{% csrf_token %}
    <input type='submit' id='choice' value="提出する">
</form>


<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<script type='text/javascript' src="{% static 'app/js/base.js' %}"></script>
<script type='text/javascript' src="{% static 'app/js/mini_test.js' %}"></script>

{% endblock %}