{% extends 'app/base.html' %}

{% block content %}

<h2>ユーザー登録</h2>

<form method="POST" action="{% url 'app:signup' %}">{% csrf_token %}
  <label>メールアドレス</label>
  {{ form.email }}
  {{ form.email.errors }}
  <br>
  <label>ユーザ名</label>
  {{ form.username }}
  {{ form.username.errors }}
  <br>
  <lalbe>パスワード</label>
  {{ form.password1 }}
  {{ form.password1.errors }}
  <br>
  <lalbe>パスワード（確認）</label>
  {{ form.password2 }}
  {{ form.password2.errors }}
  <br>
  <input type="submit" value="登録する">
</form>

{% endblock content %}


